.env
.tpl
lib
cfg
bootstrap.php
xcli
index.php
.env
php_errors.log
.cache
vendor
./app
db
/app/
xcli.dbx
xhttp.dbx
# .bak/*.zip
# .bak/app/
/.bak/app
/.bak/lib
/.bak/bin
/.bak/cfg
/bin/seed
/bin/seed-acl
/bin/sqlite
/payroll.sqlite
