.env
.tpl
lib
cfg
bootstrap.php
index.php
.env
php_errors.log
.cache
vendor
./app
db
/app/
xcli.dbx
xhttp.dbx
xhttp
xcli
/.bak/*
!/.bak/composer.autoload-off.json
!/.bak/composer.json
/bin/seed
/bin/seed-acl
/bin/sqlite
/bin/db
/bin/xcli.php
/bin/xhttp.php
/bin/install
/*.sqlite
