.env
.tpl
lib
cfg
bootstrap.php
xcli
index.php
.env
php_errors.log
.cache
vendor
./app
db
/app/
xcli.dbx
xhttp.dbx
/.bak/*
!/.bak/composer.autoload-off.json
!/.bak/composer.json
/bin/seed
/bin/seed-acl
/bin/sqlite
/*.sqlite
